body{background-color:#30FFFF}
H2{olor:#00FF00;background:#00A15C;text-align:center}
h1{background:#00B8B8 margin:8px;text-align:center}
#left{float:left;width:33%;border-style:text-align:center}
#right{float:right;width:33%;border-style:;ridgetext-align} 
#content{margin-left:34%;margin-right:33%}
H3{color:#000000;background:#8CE600;margin:10px;text-align:center}


